.panel-head{
    position: absolute;
    top: 24%;
    width: 100%;
    text-align: center;
}

#tiempo{
	font-size: 8em;
	color: white;
}

.margen{
	margin: 5px 0px;
}

.fondo-temp{
	background-repeat: none;
}

.fondo1{
	background-image: url("http://k45.kn3.net/6/3/F/3/8/1/37C.jpg");
}